node_modules/
config/
client/crypto.js
client/kms-client.js
client/qrcode.js
clinet/file-manager-test.html
client 2/
server/upload/
server/kmsController.js
server/encrypted_keys.json
kms/keys.json
test/
*.log
.env